/* ==========================================================================
 Component
==========================================================================*/
@import "component/chartjs";
@import "component/colorbox";
@import "component/common-js";
@import "component/component";
@import "component/component-glid";
@import "component/filter";
@import "component/flex";
@import "component/form";
@import "component/grid";
@import "component/parallax";
@import "component/slick";
@import "component/svg";
@import "component/web-font";