@charset "UTF-8";
/*------------------------------
git
------------------------------*/
img {
  max-width: 100%;
}
.step {
  margin-top: 40px;
  margin-bottom: 10px;
}
.capture {
  margin-bottom: 20px;
}