$breakPoint: 768px;
/*------------------------------
colorbox
------------------------------*/
/*Colorbox Core Style:*/
@charset "utf-8";
#colorbox, #cboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 9999;
}

#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 9999;
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  border: 0;
  display: block;
  float: left;
  -ms-interpolation-mode: bicubic;
  margin: auto;
  max-width: none;
}

.cboxIframe {
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*User Style:example1*/

#cboxOverlay {
  background: #000000;
  filter: alpha(opacity = 80);
  opacity: 0.8;
  z-index: 100;
}

#colorbox {
  outline: 0;
  z-index: 200;
}

#cboxContent {
  background: #ffffff;
  overflow: hidden;
  padding: 15px;
}

.cboxIframe {
  background: #ffffff;
}

#cboxError {
  border: 1px solid #cccccc;
  padding: 50px;
}

#cboxLoadedContent {
  margin-bottom: 40px;
}

#cboxTitle {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #000000;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 10px;
  color: #949494;
}

#cboxLoadingOverlay {
  background: url(../example1/images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
  background: url(../example1/images/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  background: none;
  border: 0;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  right: 30px;
  bottom: 4px;
  color: #0092ef;
}

#cboxPrevious {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #9a9a9a;
  opacity: 0.8;
  height: 50px;
  margin: auto;
  text-indent: 0px;
  width: 50px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  &:hover {
    background-position: -75px -25px;
  }
}

#cboxNext {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #9a9a9a;
  opacity: 0.8;
  height: 50px;
  margin: auto;
  text-indent: 0px;
  width: 50px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  &:hover {
    background-position: -50px -25px;
  }
}

#cboxClose {
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(../example1/images/controls.png) no-repeat -25px 0;
  height: 25px;
  text-indent: -9999px;
  width: 25px;
  &:hover {
    background-position: -25px -25px;
  }
}
/*exsample*/
#example1 {
  margin-top: 30px;
  margin-bottom: 30px;

  .example1 {
    display: block;
    text-align: center;

    img {
      text-align: center;
    }
  }
}
#example1-2 {
  display: table;
  width: 100%;
  margin-top: 30px;
  .gallery {
    display: table-cell;
    padding-right: 10px;
    img {
      height: auto;
      width: 100%;
    }
  }
}

#example2 {
  margin-top: 30px;
  text-align: center;
}

.example2 #cboxOverlay {
  background: #000000;
  opacity: 0.5;
}

/*--- sp ---*/
@media screen and (max-width: $breakPoint) {
  #example1 .example1 img,
  #example2 img{
    width: 100%;
  }
}