@charset "utf-8";
$breakPoint: 768px;

/*------------------------------
filter
------------------------------*/
#filter {
  .filterSmapleBox{
    width: 1000px;
    margin: 40px auto;
    text-align: center;

    img{
      display: inline-block;      
      width: 60%;
      height: auto;
      margin-top: 20px;
    }
  }
}
.filterSaturate{
  -webkit-filter: saturate(500%);
  filter: saturate(500%);
}
.filterBrightness{
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}
.filterHueRotate{
  -webkit-filter: hue-rotate(50deg);
  filter: hue-rotate(50deg);
}
.filterContrast{
  -webkit-filter: contrast(50%);
  filter: contrast(50%);
}
.filterGrayscale{
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}
.filterSepia{
  -webkit-filter: sepia(80%);
  filter: sepia(80%);
}
.filterInvert{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.filterBlur{
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.filterDropShadow{
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}
#filter {
  .SmapleDropShadow {
    margin-top: 10px;
    li {
      width: 30%;
      height: auto;
      display: inline-block;
      border: 1px solid #9e9e9e;
      padding: 10px;
      &:first-child {
        img {
          width: 48px;
          box-shadow: 2px 2px 2px rgb(255, 200, 36);
        }
      }

      &:last-child {
        img {
          width: 48px;
          -webkit-filter: drop-shadow(2px 2px 2px rgb(255, 200, 36));
          filter: drop-shadow(2px 2px 2px rgb(255, 200, 36));
        }
      }
    }
  }
}
.filterMix{
  -webkit-filter:brightness(1.2) contrast(60%) saturate(150%);
  filter: brightness(1.2) contrast(60%) saturate(150%);
}
