@charset "UTF-8";
$breakPoint: 768px;
/*------------------------------
Grid
------------------------------*/
#grid {
  .sample div {
    margin: 0;
  }
  .girdCont {
    display: grid;
    grid-template-rows: 50px 200px 50px 80px;
    grid-template-columns: 150px 500px 1fr;
    div {
      margin-top: 0;
    }
    .item1 {
      grid-column: 1/4;
    }
    .item2, .item3, .item4 {
      grid-row: 2/4;
    }
    .item5 {
      grid-column: 1/4;
    }
  }
  .girdSample1 {
    display: grid;
    grid-template-columns: 150px 500px 1fr;
    border: 1px dotted;
    div {
      margin: 0;
    }
  }
  .girdSample2 {
    display: grid;
    grid-auto-rows: 70px;
    grid-template-columns: 150px 300px 1fr;
    border: 1px dotted;
  }
  .girdSample3 {
    display: grid;
    grid-template-columns: 200px 400px 1fr;
    grid-auto-rows: 100px;
    border: 1px dotted;
    .item2 {
      grid-row: span 2;
      grid-column: span 2;
    }
    .item4, .item5 {
      grid-column: span 2;
    }
  }
  .girdSample4 {
    display: grid;
    grid-template-columns: 200px 400px 1fr;
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    border: 1px dotted;
    .item2 {
      grid-row: span 2;
      grid-column: span 2;
    }
    .item4, .item5 {
      grid-column: span 2;
    }
  }
  .girdSample5 {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 250px 300px 1fr;
    grid-auto-flow: column;
    border: 1px dotted;
  }
  .girdSample6 {
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(9, 100px 150px);
  }
  .girdSample7 {
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fit, 150px);
  }
  .addBtn {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      background: #eee;
    }
  }
  .girdSample8 {
    display: grid;
    grid: auto-flow 100px / 300px 400px 300px;
  }
  .girdSample9 {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(auto-fit, 100px);
  }
}

/*- background-color -*/
.item1 {
  background: #eee;
}

.item2 {
  background: #ffeaea;
}
.item3 {
  background: #d8e8d9;
}

.item4 {
  background: #d8defd;
}

.item5 {
  background: #fffce0;
}

.item6 {
  background: #d6c9ef;
}

.item7 {
  background: #e0fcff;
}

.item8 {
  background: #e7f9d1;
}