@charset "utf-8";
$breakPoint: 768px;

/*------------------------------
fullPage
------------------------------*/
h1.fullPage {
  background: #000;
  opacity: 0.7;
  color: #fff;
  font-size: 34px;
}

#fullPage {
  width: 100%;
  div {
    width: 100%;
    height: 100vh;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    p {
      display: inline-block;
      flex-basis: 100px;
      font-size: 20px;
      padding: 0;
      margin: 0;
      background: #000;
      opacity: 0.7;
      padding: 50px;
      color: #fff;
    }
    &.sec1 p {
      z-index: 10;
    }
    &.sec2 p {
      z-index: 20;
    }
    &.sec3 p {
      z-index: 30;
    }
    &.sec4 p {
      z-index: 40;
    }
    &.animate {
      opacity: 1;
      &::after {
        position: relative;
        top: 0;
        left: 0;
        background: #000000;
        content: '';
        display: block;
        height: 100vh;
        opacity: 0.3;
        width: 100vw;
        z-index: 1;
      }
    }
  }
  .sec1 {
    background: url(../imgvege01.png) top center;
    background-size: cover;
  }
  .sec2 {
    background: url(../imgvege02.png) top center;
    background-size: cover;
  }
  .sec3 {
    background: url(../imgvege03.png) top center;
    background-size: cover;
  }
  .sec4 {
    background: url(../imgvege04.png) top center;
    background-size: cover;
  }
}

/*--- sp ---*/
@media screen and (max-width: $breakPoint) {
  #fullPage div {
    background: #eeeeee;
    height: 100vh;
    &::after {
      height: 100vh;
    }
    p {
      flex-basis: 1em;
      padding: 10px;
      top: -5%;
      left: 0;
    }
  }
}
#parallax {
  .imgArea {
    position: relative;
    height: 500px;
    opacity: 0.8;
    &.area01 {
      background: url(../imgfruit04.jpg) bottom center;
      background-attachment: fixed;
      background-size: cover;
    }
    &.area02 {
      background: url(../imgfruit02.jpg) bottom center;
      background-attachment: fixed;
      background-size: cover;
    }
    &.area03 {
      background: url(../imgfruit03.jpg) bottom center;
      background-attachment: fixed;
      background-size: cover;
    }
    &.area04 {
      background: url(../imgfruit04.jpg) bottom center;
      background-attachment: fixed;
      background-size: cover;
    }
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      color: rgba(255, 255, 255, 0.6);
      font-size: 4em;
      margin: 0;
      padding: 0;
      transform: translate(-50%, -50%);
    }
  }
  .txtArea {
    background: #eeeeee;
    p, .memo {
      margin: 0 auto;
      padding: 50px 0;
      width: 1000px;
    }
    a {
      text-decoration: underline;
    }
  }
  .videoArea {
    position: relative;
    video {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::before {
      content: "";
      display: block;
      padding-top: 56%;
    }
    .txt {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      background: #000;
      opacity: 0.5;
      text-align: center;
      font-size: 1.6vw;
      color: #fff;
      a {
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/*--- sp ---*/
@media screen and (max-width: $breakPoint) {
  #parallax .txtArea {
    p, .memo {
      width: 100%;
      padding: 10px;
    }
  }
}