@charset "utf-8";
$breakPoint: 768px;
/*------------------------------
svg
------------------------------*/
.content .testList {
  li {
    margin-top: 30px;
  }
  .testBox {
    background-image: url(../img/star.svg);
    height: 344px;
    margin: 0 auto;
    width: 950px;
  }
}

.star {
  position: relative;
  height: 200px;
  svg {
    position: absolute;
    left: -100%;
    overflow: hidden;
  }
  &.animate svg {
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-name: testAnimation01;
  }
}

@keyframes testAnimation01 {
  0% {
    transform-origin: center;
  }

  100% {
    left: 0;
    opacity: 1;
    transform-origin: center;
  }
}


/*--- sp ---*/

@media screen and (max-width: $breakPoint) {
  .content {
    pre {
      overflow: scroll;
    }
    .testList .testBox {
      background-size: 10%;
      height: 300px;
      width: 100%;
    }
  }
}