@charset "utf-8";

/*	Reset
------------------------------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, main,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-style:inherit;
	font-weight:inherit;
	font-size:100%;
	vertical-align:baseline;
}
main, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display:block;
}
html {
	color:#333;
	font-size:62.5%;
	font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
}
body {
	width:100%;
	height:100%;
	font-size:1.4rem; /* for GC. defalut font-size:1.6rem = 16px */
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	line-height:1.7;
	background-color:#fff;
	word-break:break-word;
}
*, *:before, *:after {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
input, input[type=file], textarea, button, select {
	-webkit-appearance:none;
	-moz-appearance: none;
	appearance:none;
	outline:none;
	margin:0;
	padding:0;
	border:none;
  background: none;
	font: inherit;
	border-radius: 0;
	word-break: normal;
}
select::-ms-expand {
  display: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color:#a9a9a9;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
caption, th, td {
	text-align:left;
}
a {
	color:#333;
	text-decoration:none;
	outline:none;
}
img {
	font-size:0;
	vertical-align:top;
}
hr {
	height:1px;
	margin:0;
	border:0;
}
.cf:after {
	content:"";
	clear:both;
	display:block;
}

/*	Utility
------------------------------*/
/*-- Display --*/
.disBlo { display:block !important; }
.disInl { display:inline !important; }
.disInB { display:inline-block !important; }
.disTbl { display:table !important; width:100%; }
.disTbc { display:table-cell !important; }
.disNon { display:none !important; }
.visHid { visibility:hidden !important; }
.visVis { visibility:visible !important; }
.hide { position:absolute; width:0; height:0; overflow:hidden; }
.fixed { position:fixed !important; }

/*-- Img --*/
.fullImg { width:100%; max-width:none; }

/*-- Text --*/
.fs10 {font-size:1.0rem !important; }
.fs12 {font-size:1.2rem !important; }
.fs14 {font-size:1.4rem !important; }
.fs16 {font-size:1.6rem !important; }
.fs18 {font-size:1.8rem !important; }
.fs20 {font-size:2.0rem !important; }
.fcRD {color:#c00 !important; }
.fcWT {color:#fff !important; }
.fcBK {color:#333 !important; }
.fcGY {color:#999 !important; }
.fwN { font-weight:normal !important; }
b,.fwB { font-weight:bold !important; }
.nowrap { white-space:nowrap !important; }
.brAll { word-break:break-all !important; }
.ofHid { overflow:hidden !important; }

/*-- Background  --*/
.bgRD { background-color:#c00 !important; }
.bgGY { background-color:#f5f5f5 !important; }
.bgWT { background-color:#fff !important; }
.bgBK { background-color:#333 !important; }
.bgCL { background-color:transparent !important; }

/*-- Layout --*/
.floatL { float:left; }
.floatR { float:right; }

.alL { text-align:left !important; }
.alC { text-align:center !important; }
.alR { text-align:right !important; }

.vaT { vertical-align:top !important; }
.vaM { vertical-align:middle !important; }
.vaB { vertical-align:bottom !important; }
.vaBL { vertical-align:baseline !important; }

.jcE{justify-content: end!important;}
.jcC{justify-content: center!important;}
.jcSA{justify-content: space-around!important;}
.jcSB{justify-content: space-between!important;}
/*-- Border --*/
.brdrNon { border:none !important; }

/*-- Margin --*/
.mgt0  { margin-top:0px !important; }
.mgt5  { margin-top:5px !important; }
.mgt10 { margin-top:10px !important; }
.mgt15 { margin-top:15px !important; }
.mgt20 { margin-top:20px !important; }
.mgt25 { margin-top:25px !important; }
.mgt30 { margin-top:30px !important; }
.mgt35 { margin-top:35px !important; }
.mgt40 { margin-top:40px !important; }
.mgt45 { margin-top:45px !important; }
.mgt50 { margin-top:50px !important; }
.mgt60 { margin-top:60px !important; }
.mgt70 { margin-top:70px !important; }
.mgt80 { margin-top:80px !important; }
.mgt90 { margin-top:90px !important; }
.mgt100 { margin-top:100px !important; }
.mgr0  { margin-right:0px !important; }
.mgr5  { margin-right:5px !important; }
.mgr10 { margin-right:10px !important; }
.mgr15 { margin-right:15px !important; }
.mgr20 { margin-right:20px !important; }
.mgr25 { margin-right:25px !important; }
.mgr30 { margin-right:30px !important; }
.mgr35 { margin-right:35px !important; }
.mgr40 { margin-right:40px !important; }
.mgr45 { margin-right:45px !important; }
.mgr50 { margin-right:50px !important; }
.mgb0  { margin-bottom:0px !important; }
.mgb5  { margin-bottom:5px !important; }
.mgb10 { margin-bottom:10px !important; }
.mgb15 { margin-bottom:15px !important; }
.mgb20 { margin-bottom:20px !important; }
.mgb25 { margin-bottom:25px !important; }
.mgb30 { margin-bottom:30px !important; }
.mgb35 { margin-bottom:35px !important; }
.mgb40 { margin-bottom:40px !important; }
.mgb45 { margin-bottom:45px !important; }
.mgb50 { margin-bottom:50px !important; }
.mgl0  { margin-left:0px !important; }
.mgl5  { margin-left:5px !important; }
.mgl10 { margin-left:10px !important; }
.mgl15 { margin-left:15px !important; }
.mgl20 { margin-left:20px !important; }
.mgl25 { margin-left:25px !important; }
.mgl30 { margin-left:30px !important; }
.mgl35 { margin-left:35px !important; }
.mgl40 { margin-left:40px !important; }
.mgl45 { margin-left:45px !important; }
.mgl50 { margin-left:50px !important; }

/*-- Padding --*/
.pdt0  { padding-top:0px !important; }
.pdt5  { padding-top:5px !important; }
.pdt10 { padding-top:10px !important; }
.pdt15 { padding-top:15px !important; }
.pdt20 { padding-top:20px !important; }
.pdt25 { padding-top:25px !important; }
.pdt30 { padding-top:30px !important; }
.pdt35 { padding-top:35px !important; }
.pdt40 { padding-top:40px !important; }
.pdt45 { padding-top:45px !important; }
.pdt50 { padding-top:50px !important; }
.pdr0  { padding-right:0px !important; }
.pdr5  { padding-right:5px !important; }
.pdr10 { padding-right:10px !important; }
.pdr15 { padding-right:15px !important; }
.pdr20 { padding-right:20px !important; }
.pdr25 { padding-right:25px !important; }
.pdr30 { padding-right:30px !important; }
.pdr35 { padding-right:35px !important; }
.pdr40 { padding-right:40px !important; }
.pdr45 { padding-right:45px !important; }
.pdr50 { padding-right:50px !important; }
.pdb0  { padding-bottom:0px !important; }
.pdb5  { padding-bottom:5px !important; }
.pdb10 { padding-bottom:10px !important; }
.pdb15 { padding-bottom:15px !important; }
.pdb20 { padding-bottom:20px !important; }
.pdb25 { padding-bottom:25px !important; }
.pdb30 { padding-bottom:30px !important; }
.pdb35 { padding-bottom:35px !important; }
.pdb40 { padding-bottom:40px !important; }
.pdb45 { padding-bottom:45px !important; }
.pdb50 { padding-bottom:50px !important; }
.pdl0  { padding-left:0px !important; }
.pdl5  { padding-left:5px !important; }
.pdl10 { padding-left:10px !important; }
.pdl15 { padding-left:15px !important; }
.pdl20 { padding-left:20px !important; }
.pdl25 { padding-left:25px !important; }
.pdl30 { padding-left:30px !important; }
.pdl35 { padding-left:35px !important; }
.pdl40 { padding-left:40px !important; }
.pdl45 { padding-left:45px !important; }
.pdl50 { padding-left:50px !important; }

/*-- width --*/
.widAuto { width:auto !important; }

.wid10   { width:10px !important; }
.wid20   { width:20px !important; }
.wid30   { width:30px !important; }
.wid40   { width:40px !important; }
.wid50   { width:50px !important; }
.wid60   { width:60px !important; }
.wid70   { width:70px !important; }
.wid80   { width:80px !important; }
.wid90   { width:90px !important; }
.wid100  { width:100px !important; }
.wid110  { width:110px !important; }
.wid120  { width:120px !important; }
.wid130  { width:130px !important; }
.wid140  { width:140px !important; }
.wid150  { width:150px !important; }
.wid160  { width:160px !important; }
.wid170  { width:170px !important; }
.wid180  { width:180px !important; }
.wid190  { width:190px !important; }
.wid200  { width:200px !important; }

.wid1em  { width:1em !important; }
.wid2em  { width:2em !important; }
.wid3em  { width:3em !important; }
.wid4em  { width:4em !important; }
.wid5em  { width:5em !important; }
.wid6em  { width:6em !important; }
.wid7em  { width:7em !important; }
.wid8em  { width:8em !important; }
.wid9em  { width:9em !important; }
.wid10em { width:10em !important; }

.w1P  { width:1% !important; }
.w2P  { width:2% !important; }
.w3P  { width:3% !important; }
.w4P  { width:4% !important; }
.w5P  { width:5% !important; }
.w6P  { width:6% !important; }
.w7P  { width:7% !important; }
.w8P  { width:8% !important; }
.w9P  { width:9% !important; }
.w10P { width:10% !important; }
.w11P { width:11% !important; }
.w12P { width:12% !important; }
.w13P { width:13% !important; }
.w14P { width:14% !important; }
.w15P { width:15% !important; }
.w16P { width:16% !important; }
.w17P { width:17% !important; }
.w18P { width:18% !important; }
.w19P { width:19% !important; }
.w20P { width:20% !important; }
.w21P { width:21% !important; }
.w22P { width:22% !important; }
.w23P { width:23% !important; }
.w24P { width:24% !important; }
.w25P { width:25% !important; }
.w26P { width:26% !important; }
.w27P { width:27% !important; }
.w28P { width:28% !important; }
.w29P { width:29% !important; }
.w30P { width:30% !important; }
.w31P { width:31% !important; }
.w32P { width:32% !important; }
.w33P { width:33% !important; }
.w34P { width:34% !important; }
.w35P { width:35% !important; }
.w36P { width:36% !important; }
.w37P { width:37% !important; }
.w38P { width:38% !important; }
.w39P { width:39% !important; }
.w40P { width:40% !important; }
.w41P { width:41% !important; }
.w42P { width:42% !important; }
.w43P { width:43% !important; }
.w44P { width:44% !important; }
.w45P { width:45% !important; }
.w46P { width:46% !important; }
.w47P { width:47% !important; }
.w48P { width:48% !important; }
.w49P { width:49% !important; }
.w50P { width:50% !important; }
.w51P { width:51% !important; }
.w52P { width:52% !important; }
.w53P { width:53% !important; }
.w54P { width:54% !important; }
.w55P { width:55% !important; }
.w56P { width:56% !important; }
.w57P { width:57% !important; }
.w58P { width:58% !important; }
.w59P { width:59% !important; }
.w60P { width:60% !important; }
.w61P { width:61% !important; }
.w62P { width:62% !important; }
.w63P { width:63% !important; }
.w64P { width:64% !important; }
.w65P { width:65% !important; }
.w66P { width:66% !important; }
.w67P { width:67% !important; }
.w68P { width:68% !important; }
.w69P { width:69% !important; }
.w70P { width:70% !important; }
.w71P { width:71% !important; }
.w72P { width:72% !important; }
.w73P { width:73% !important; }
.w74P { width:74% !important; }
.w75P { width:75% !important; }
.w76P { width:76% !important; }
.w77P { width:77% !important; }
.w78P { width:78% !important; }
.w79P { width:79% !important; }
.w80P { width:80% !important; }
.w81P { width:81% !important; }
.w82P { width:82% !important; }
.w83P { width:83% !important; }
.w84P { width:84% !important; }
.w85P { width:85% !important; }
.w86P { width:86% !important; }
.w87P { width:87% !important; }
.w88P { width:88% !important; }
.w89P { width:89% !important; }
.w90P { width:90% !important; }
.w91P { width:91% !important; }
.w92P { width:92% !important; }
.w93P { width:93% !important; }
.w94P { width:94% !important; }
.w95P { width:95% !important; }
.w96P { width:96% !important; }
.w97P { width:97% !important; }
.w98P { width:98% !important; }
.w99P { width:99% !important; }
.w100P{ width:100% !important; }