@charset "UTF-8";
/* ==========================================================================
 Component
==========================================================================*/
/*------------------------------
Chart
------------------------------*/
.wrapper .graphArea {
  margin-top: 35px;
  padding-bottom: 90px;
  text-align: center;
}

.graphArea .chart-container {
  display: inline-block;
  vertical-align: middle;
  width: 700px;
}

.wrapper .graphArea div {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.wrapper .graphArea div .ariaList {
  display: inline-block;
}

.wrapper .graphArea div .ariaList li {
  margin-bottom: 7px;
  text-align: left;
}

.wrapper .graphArea div .ariaList li::before {
  background: #000000;
  content: '';
  display: inline-block;
  height: 29px;
  margin-right: 1em;
  vertical-align: middle;
  width: 31px;
}

.wrapper .graphArea div .ariaList li p {
  display: inline-block;
  vertical-align: middle;
}

.wrapper .graphArea div .ariaList li.aria01::before {
  background: #e11113;
}

.wrapper .graphArea div .ariaList li.aria02::before {
  background: #3b7ab1;
}

.wrapper .graphArea div .ariaList li.aria03::before {
  background: #f4c340;
}

.wrapper .graphArea div .ariaList li.aria04::before {
  background: #a2519a;
}

.wrapper .graphArea div .ariaList li.aria05::before {
  background: #12b285;
}

.wrapper .graphArea div .ariaList li.aria06::before {
  background: #eb5e23;
}

.wrapper .graphArea div .ariaList li.aria07::before {
  background: #6d6db2;
}

.wrapper .graphArea div .ariaList li.aria08::before {
  background: #57a8de;
}

.wrapper .graphArea div .ariaList li.aria09::before {
  background: #66b72e;
}

/*------------------------------
colorbox
------------------------------*/
/*Colorbox Core Style:*/
#colorbox, #cboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 9999;
}

#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 9999;
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  border: 0;
  display: block;
  float: left;
  -ms-interpolation-mode: bicubic;
  margin: auto;
  max-width: none;
}

.cboxIframe {
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*User Style:example1*/
#cboxOverlay {
  background: #000000;
  filter: alpha(opacity=80);
  opacity: 0.8;
  z-index: 100;
}

#colorbox {
  outline: 0;
  z-index: 200;
}

#cboxContent {
  background: #ffffff;
  overflow: hidden;
  padding: 15px;
}

.cboxIframe {
  background: #ffffff;
}

#cboxError {
  border: 1px solid #cccccc;
  padding: 50px;
}

#cboxLoadedContent {
  margin-bottom: 40px;
}

#cboxTitle {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #000000;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 10px;
  color: #949494;
}

#cboxLoadingOverlay {
  background: url(../example1/images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
  background: url(../example1/images/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  background: none;
  border: 0;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  right: 30px;
  bottom: 4px;
  color: #0092ef;
}

#cboxPrevious {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #9a9a9a;
  opacity: 0.8;
  height: 50px;
  margin: auto;
  text-indent: 0px;
  width: 50px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
}

#cboxPrevious:hover {
  background-position: -75px -25px;
}

#cboxNext {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #9a9a9a;
  opacity: 0.8;
  height: 50px;
  margin: auto;
  text-indent: 0px;
  width: 50px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
}

#cboxNext:hover {
  background-position: -50px -25px;
}

#cboxClose {
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(../example1/images/controls.png) no-repeat -25px 0;
  height: 25px;
  text-indent: -9999px;
  width: 25px;
}

#cboxClose:hover {
  background-position: -25px -25px;
}

/*exsample*/
#example1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#example1 .example1 {
  display: block;
  text-align: center;
}

#example1 .example1 img {
  text-align: center;
}

#example1-2 {
  display: table;
  width: 100%;
  margin-top: 30px;
}

#example1-2 .gallery {
  display: table-cell;
  padding-right: 10px;
}

#example1-2 .gallery img {
  height: auto;
  width: 100%;
}

#example2 {
  margin-top: 30px;
  text-align: center;
}

.example2 #cboxOverlay {
  background: #000000;
  opacity: 0.5;
}

/*--- sp ---*/
@media screen and (max-width: 768px) {
  #example1 .example1 img,
  #example2 img {
    width: 100%;
  }
}

section + section {
  padding-top: 60px;
}

/* header ------------------------------*/
.gHeaderWrapper {
  position: static;
  min-width: 1000px;
  width: 100%;
  background: #fffefc;
  border-bottom: 1px solid #ecebeb;
}

.subHeader {
  padding: 15px 0 10px;
  top: 0;
  z-index: 9999;
}

.headerInr {
  width: 1000px;
  margin: 0 auto;
}

.subHeader {
  position: relative;
}

.subHeader .iconList {
  text-align: right;
}

.subHeader .iconList li {
  display: inline-block;
  margin-left: 1rem;
}

.subHeader .iconList li a {
  display: inline-block;
}

.subHeader .iconList li a:hover {
  text-decoration: underline;
}

.subHeader .iconList li a span {
  padding-right: 5px;
  color: #333;
  font-size: 2rem;
}

.mainHeader .headerInr {
  display: table;
}

.mainHeader .headerInr > .headerItem {
  display: table-cell;
}

.mainHeader .headerInr > .headerItem:nth-child(2) {
  width: 400px;
}

.mainHeader.hFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
  background: #fffefc;
}

.mainHeader.hFixed .headerInr {
  width: 1000px;
}

.mainHeader.hFixed .headeMenu .dropMenu {
  top: 58px;
}

.mainHeader .headeMenu {
  letter-spacing: -0.4em;
}

.mainHeader .headeMenu .menuItem {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
  padding-right: 30px;
}

.mainHeader .headeMenu .menuItem a {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  color: #333333;
}

.mainHeader .headeMenu .menuItem a:hover {
  border-bottom: none;
}

.mainHeader .headerBtn {
  text-align: right;
}

.mainHeader .headerBtn li {
  display: inline-block;
}

.mainHeader .headerBtn li a {
  display: inline-block;
  width: 147px;
  vertical-align: middle;
  letter-spacing: normal;
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.mainHeader .headerBtn .login a {
  background: #fdb44a;
  margin-right: 10px;
}

.mainHeader .headerBtn .login a:hover {
  background: #ffd394;
}

.mainHeader .headerBtn .logout a {
  background: #a7a7a7;
}

.mainHeader .headerBtn .logout a:hover {
  background: #d3d3d3;
}

.mainHeader .spMenuArea {
  display: none;
}

.mainHeader .spIcon {
  display: none;
}

.mainHeader .headeMenu .dropMenu {
  display: none;
  position: absolute;
  width: 100%;
  min-width: 1000px;
  padding: 40px;
  background: #e8e3da;
  top: 110px;
  left: 0;
  z-index: 2000;
  text-align: center;
}

.mainHeader .headeMenu .dropMenuList {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.mainHeader .headeMenu .dropMenuItem {
  display: block;
  margin-right: 0;
}

.mainHeader .headeMenu .dropMenuItem a {
  display: block;
  position: relative;
  padding: 5px 40px 5px 20px;
  color: #333;
  font-size: 1.4rem;
}

.mainHeader .headeMenu .dropMenuItem a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mainHeader .headeMenu .dropMenuItem a:hover {
  border-bottom: none;
  text-decoration: underline;
}

.mainHeader .headeMenu .dropMenuList:last-child a {
  padding-right: 0;
}

/* tab ------------------------------*/
.tab {
  letter-spacing: -0.4rem;
}

.tab li {
  display: inline-block;
  letter-spacing: normal;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #561e00;
  border-bottom: none;
  cursor: pointer;
  background: #fffefc;
  -wbkit-transition: background 0.2s;
  transition: background 0.2s;
  border-radius: 5px 5px 0 0;
}

.tab li:hover {
  background: #fffbf4;
  -wbkit-transition: background 0.2s;
  transition: background 0.2s;
}

.tab li.current {
  background: #ffede3;
}

.tabContItem {
  padding: 20px;
  border: 1px solid #561e00;
}

/* accordion ------------------------------*/
.accordionBox {
  border: 1px solid #d2d2d2;
  color: #ff6613;
}

.accordionBox .accordionBtn {
  position: relative;
  padding: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.accordionBox .accordionBtn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  width: 0;
  height: 0;
  margin-right: 10px;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #ff601c;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.accordionBox .accordionBtn.open::after {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.accordionBox .accordionCont {
  display: none;
  padding: 10px;
  color: #333;
}

/* animationFadeIn ------------------------------*/
.hideme {
  -webkit-transition: all 0.5s linear;
  transition: all .5s linear;
  opacity: 0;
}

.active {
  -webkit-transition: all 0.5s linear;
  transition: all .5s linear;
  opacity: 1;
}

@-webkit-keyframes animationFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes animationFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.animationFadeIn {
  opacity: 0;
}

.animationFadeIn.active {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-name: animationFadeIn;
  animation-name: animationFadeIn;
}

#fadeIn ._dummy {
  width: 100%;
  margin: 40px 0;
  padding: 200px 0;
  background: #d2cecc;
}

#gfooter {
  padding: 20px 0;
  background: #564a44;
}

.topPage {
  position: relative;
  bottom: 0;
}

.topPage a {
  position: absolute;
  bottom: -20px;
}

.topPage.topFix {
  bottom: 0;
  position: fixed;
}

.topPage.topFix a {
  bottom: 20px;
}

/* sort ------------------------------*/
.sortArea {
  overflow: hidden;
}

.sortBtn {
  letter-spacing: -0.4em;
}

.sortBtn li {
  display: inline-block;
  letter-spacing: normal;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #561e00;
  cursor: pointer;
}

.sortBtn li.current {
  background: #d2cecc;
}

.sortList {
  margin-top: 40px;
  letter-spacing: -0.4em;
}

.sortList li {
  display: inline-block;
  letter-spacing: normal;
  width: 480px;
  margin-right: 20px;
  background: #d2cecc;
  padding: 50px 0;
}

/*------------------------------
 sp 
------------------------------*/
@media screen and (max-width: 768px) {
  /* header ------------------------------*/
  body.spMenuOpend {
    overflow: hidden;
  }
  .gHeaderWrapper {
    width: 100%;
    min-width: 0;
    position: static;
  }
  .headerInr {
    width: 100%;
    padding: 0 10px;
  }
  /*----- mainHeader -----*/
  .mainHeader .headerInr {
    display: block;
    padding: 5px 10px;
  }
  body.spMenuOpend .mainHeader.hFixed {
    height: 100%;
  }
  .mainHeader.hFixed {
    height: auto;
  }
  .mainHeader.hFixed .headerInr {
    width: 100%;
  }
  .mainHeader .headerInr > .headerItem {
    display: inline-block;
    vertical-align: middle;
    width: 28%;
  }
  .mainHeader .headerInr > .headerItem:nth-child(2) {
    display: none;
  }
  .mainHeader .headeMenu .menuItem {
    display: none;
  }
  .mainHeader .headeMenu li.logo {
    display: inline-block;
    width: 80px;
    margin-right: 0;
  }
  .mainHeader .headeMenu li.logo img {
    width: 100%;
    height: auto;
  }
  .mainHeader .headerBtn {
    display: table;
    width: 100%;
    padding: 10px;
  }
  .mainHeader .headerBtn li {
    width: 48%;
    display: table-cell;
  }
  .mainHeader .headerBtn li a {
    width: 100%;
    font-size: 1.4rem;
    letter-spacing: -0.5px;
  }
  /*----- SP -----*/
  .mainHeader .spIcon {
    display: inline-block;
    width: 28px;
    height: 24px;
    cursor: pointer;
    float: right;
    position: relative;
  }
  .mainHeader .spIcon span {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    border-top: 2px solid #333;
    vertical-align: middle;
    position: absolute;
    transition: all 0.4s;
  }
  .mainHeader .spIcon span:nth-child(1) {
    top: 0;
  }
  .mainHeader .spIcon span:nth-child(2) {
    top: 11px;
  }
  .mainHeader .spIcon span:nth-child(3) {
    bottom: 0;
  }
  .mainHeader .spIcon.close span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
  .mainHeader .spIcon.close span:nth-child(2) {
    opacity: 0;
  }
  .mainHeader .spIcon.close span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-12px) rotate(45deg);
  }
  .mainHeader .spMenuArea {
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #e8e3da;
    position: absolute;
    z-index: 1000;
    padding-bottom: 100px;
  }
  .mainHeader .spMenuArea a {
    display: block;
    color: #333;
  }
  .spLinkMenu .headerBtn .btnItem {
    display: table-cell;
    width: 48%;
    margin: 10px auto;
  }
  .spLinkMenu .headerBtn .btnItem a {
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
  }
  .spLinkMenu .menuItem .accordionBtn {
    border-top: 1px solid #333;
    padding: 11px 24px 12px 10px;
    font-weight: bold;
  }
  .spLinkMenu .menuItem .accordionMenu {
    display: none;
  }
  .spLinkMenu .menuItem .accordionMenu ul {
    height: 100%;
  }
  .spLinkMenu .menuItem .accordionMenu .spMenuItem a {
    position: relative;
    padding: 11px 24px 12px 10px;
    border-top: 1px solid #888;
    font-size: 1.4rem;
    color: #888;
  }
  .sortList li {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.wrapper {
  min-width: 1000px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    min-width: 0;
  }
}

._dummy {
  padding: 40px;
  background-color: #eeeeee;
  text-align: center;
  color: #999;
  border: 1px solid #ddd;
}

/*======================================
component
======================================*/
/*---------------------------------------
List
---------------------------------------*/
ul > li li,
ol > li li {
  padding: 0;
}

/*-- txtList --*/
.txtList > li {
  position: relative;
  margin-left: 1.2em;
}

.txtList > li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: inherit;
  margin-right: 5px;
  border-radius: 50%;
  background: #94c509;
  position: absolute;
  top: 7px;
  left: -1.2em;
}

.txtList > li + li,
.dotList > li + li {
  margin-top: 0.5em;
}

.dotList > li {
  position: relative;
  margin-left: 1em;
}

.dotList > li::before {
  content: "\0030fb";
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: -1em;
}

/*-- numList --*/
.numList {
  position: relative;
  list-style: decimal outside none;
  padding-left: 2em;
}

.numList > li {
  text-indent: 0;
}

.numList > li + li {
  margin-top: 0.5em;
}

.numList_brackets > li {
  position: relative;
  margin-left: 2.0em;
}

.numList_brackets > li > .listMark {
  display: inline-block;
  width: 2.0em;
  left: -2.0em;
  position: absolute;
  top: 0;
}

.numList_brackets > li + li {
  margin-top: 0.5em;
}

.numList_brackets.numDouble > li {
  margin-left: 2.5em;
}

.numList_brackets.numDouble > li > .listMark {
  width: 2.5em;
  left: -2.5em;
}

.numList_brackets.numDouble > li + li {
  margin-top: 0.5em;
}

/*-- noteList --*/
.noteList > li {
  position: relative;
  margin-left: 1.1em;
}

.noteList > li > .listMark {
  width: 1.1em;
  position: absolute;
  top: 0;
  left: -1.1em;
}

.noteList > li + li {
  margin-top: 0.5em;
}

.noteList .numList_brackets > li,
.noteList .noteList_star > li {
  text-indent: 0;
}

.noteList_star > li {
  position: relative;
  margin-left: 0.6em;
}

.noteList_star > li > .listMark {
  display: inline-block;
  width: 0.6em;
  position: absolute;
  top: 0;
  left: -0.6em;
}

.noteList_star > li + li {
  margin-top: 0.5em;
}

.noteList_star.numSingle > li {
  position: relative;
  margin-left: 1.5em;
}

.noteList_star.numSingle > li > .listMark {
  width: 1.5em;
  position: absolute;
  top: 0;
  left: -1.5em;
}

.noteList_star.numDouble > li {
  position: relative;
  margin-left: 2em;
}

.noteList_star.numDouble > li > .listMark {
  width: 2em;
  position: absolute;
  top: 0;
  left: -2em;
}

/*---------------------------------------
column
---------------------------------------*/
/*--.column_2col flex (variable)--*/
.column_2col.flex {
  display: flex;
  width: 100%;
}

.column_2col.flex.reverse {
  flex-direction: row-reverse;
}

.column_2col.flex .col:last-child {
  padding-left: 20px;
}

.column_2col.flex.reverse .col:last-child {
  padding-left: 0;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .column_2col.flex {
    display: block;
  }
  .column_2col.flex .col {
    display: block;
    margin: 0 auto;
    padding-left: 0;
  }
  .column_2col.flex.reverse .col:last-child {
    padding: 0;
  }
  .column_2col.flex .col:last-child {
    padding-left: 0;
  }
  .column_2col.flex .col img {
    width: 100%;
  }
}

/*----- .box_2col -----*/
.column_2col {
  width: 100%;
  margin-top: 20px;
  letter-spacing: -0.4em;
}

.column_2col .col {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  letter-spacing: normal;
}

@media screen and (max-width: 768px) {
  .column_2col .col {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .column_2col .col:last-child {
    margin-bottom: 0;
  }
}

/*----- .column_2col.hasSpace -----*/
.column_2col.hasSpace {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column_2col.hasSpace .col {
  width: 49%;
}

@media screen and (max-width: 768px) {
  .column_2col.hasSpace {
    display: block;
  }
  .column_2col.hasSpace .col {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .column_2col:last-child {
    margin-bottom: 0;
  }
  .column_2col.hasSpace.type2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .column_2col.hasSpace.type2 .col {
    width: calc(calc(100% - 20px)/2);
  }
}

/*----- column_3col -----*/
.column_3col {
  letter-spacing: -0.4em;
}

.column_3col > .col {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin-left: 20px;
}

.column_3col > .col:nth-of-type(3n+1) {
  margin-left: 0;
}

.column_3col > .col:nth-of-type(n+4) {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .column_3col > .col {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .column_3col.type2 > .col {
    width: 49.7%;
    margin: 0 0 20px 0;
    padding: 0 10px;
  }
  .column_3col.type2 > .col:nth-child(2n+1) {
    padding-left: 0;
  }
  .column_3col.type2 > .col:nth-child(2n) {
    padding-right: 0;
  }
}

/*-- column_4col --*/
.column_4col {
  letter-spacing: -0.4em;
}

.column_4col > .col {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 23.5%;
  margin: 0 0 0 20px;
}

.column_4col > .col:nth-of-type(4n+1) {
  margin-left: 0;
}

.column_4col > .col:nth-of-type(n+5) {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .column_4col > .col {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .column_4col > .col:nth-of-type(n+5) {
    margin-top: 0;
  }
  .column_4col.type2 > .col {
    width: 49.7%;
    margin: 0 0 20px 0;
    padding: 0 10px;
  }
  .column_4col.type2 > .col:nth-child(2n+1) {
    padding-left: 0;
  }
  .column_4col.type2 > .col:nth-child(2n) {
    padding-right: 0;
  }
}

/*
table
==============================*/
.tableTypeA_01, .tableTypeA_02, .tableTypeB_01,
.tableTypeC_01, .tableTypeC_02 {
  width: 100%;
}

.tableTypeA_01 td, .tableTypeA_01 th,
.tableTypeA_02 td, .tableTypeA_02 th,
.tableTypeB_01 td, .tableTypeB_01 th,
.tableTypeC_01 td, .tableTypeC_01 th,
.tableTypeC_02 td, .tableTypeC_02 th {
  padding: 14px;
  border: 1px solid #cccccc;
  vertical-align: middle;
}

.tableTypeA_01 th, .tableTypeA_02 th,
.tableTypeB_01 th, .tableTypeC_01 th, .tableTypeC_01 thead td,
.tableTypeB_02 th, .tableTypeC_02 th, .tableTypeC_02 thead td {
  background: #7d7d7d;
  font-weight: bold;
  color: #fff;
}

.tableTypeA_01 th, .tableTypeA_02 th {
  width: 30%;
}

.tableTypeA_01 .blank, .tableTypeA_02 .blank,
.tableTypeB_01 .blank, .tableTypeC_01 .blank {
  background: #fbfbfb;
}

.tableTypeC_01 tbody th,
.tableTypeC_02 tbody th {
  background: #fbfbfb;
  font-weight: normal;
  color: #333;
}

@media screen and (max-width: 768px) {
  .tableTypeA_02 th, .tableTypeA_02 td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: -1px;
    padding: 15px;
  }
  .tableTypeC_02 tbody th {
    width: 1em;
  }
}

.wrapper {
  max-width: 1000px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

._dummy {
  padding: 40px;
  background-color: #eeeeee;
  text-align: center;
  color: #999;
  border: 1px solid #ddd;
}

/*======================================
component
======================================*/
/*---------------------------------------
colom
---------------------------------------*/
/*--.colom_2col flex (variable)--*/
.colom_2col.flex {
  display: flex;
  width: 100%;
}

.colom_2col.flex.reverse {
  flex-direction: row-reverse;
}

.colom_2col.flex .col:last-child {
  padding-left: 20px;
}

.colom_2col.flex.reverse .col:last-child {
  padding-left: 0;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .colom_2col.flex {
    display: block;
  }
  .colom_2col.flex .col {
    display: block;
    margin: 0 auto;
    padding-left: 0;
  }
  .colom_2col.flex.reverse .col:last-child {
    padding: 0;
  }
  .colom_2col.flex .col:last-child {
    padding-left: 0;
  }
  .colom_2col.flex .col img {
    width: 100%;
  }
}

/*----- .colom_2col -----*/
.colom_2col {
  width: 100%;
  margin-top: 20px;
  letter-spacing: -0.4em;
}

.colom_2col .col, .colom_2col.type2 .col {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  letter-spacing: normal;
}

@media screen and (max-width: 768px) {
  .colom_2col .col {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .colom_2col .col:last-child {
    margin-bottom: 0;
  }
}

/*----- .colom_2col.hasSpace -----*/
.colom_2col.hasSpace {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.colom_2col.hasSpace .col {
  width: 49%;
}

@media screen and (max-width: 768px) {
  .colom_2col.hasSpace {
    display: block;
  }
  .colom_2col.hasSpace .col {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .colom_2col:last-child {
    margin-bottom: 0;
  }
  .colom_2col.hasSpace.type2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .colom_2col.hasSpace.type2 .col {
    width: calc(calc(100% - 20px)/2);
  }
}

/*----- colom_3col -----*/
.colom_3col {
  letter-spacing: -0.4em;
}

.colom_3col > .col {
  display: inline-block;
  width: -webkit-calc(calc(100% - 80px)/ 3);
  width: calc(calc(100% - 80px)/ 3);
  letter-spacing: normal;
  vertical-align: top;
  margin: 30px 20px 0;
  box-sizing: content-box;
}

*::-ms-backdrop, .colom_3col .col {
  width: 30.6%;
  /* IE11 */
}

.colom_3col .col:first-child, .colom_3col .col:nth-child(3n+1) {
  margin-left: 0;
}

.colom_3col .col:nth-child(3n) {
  margin-right: 0;
}

.colom_3col .col .colElm:last-child {
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .colom_3col > .col {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .colom_3col.type2 .col {
    width: calc(calc(100% - 22px)/ 2);
    margin-top: 20px;
  }
  .colom_3col.type2 .col:nth-child(2n) {
    margin: 20px 0 0 0;
  }
  .colom_3col.type2 .col:nth-child(3n), .colom_3col.type2 .col:nth-child(2n+1) {
    margin: 20px 20px 0 0px;
  }
  .colom_3col.type2 .col:nth-child(6n) {
    margin: 20px 0 0 0;
  }
  .colom_3col.type2 .col .colElm:last-child {
    margin-top: 10px;
  }
  *::-ms-backdrop, .colom_3col.type2 .col {
    width: 47%;
    /* IE11 */
  }
}

/*-- colom_4col --*/
.colom_4col {
  letter-spacing: -0.4em;
}

.colom_4col > .col {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 23.5%;
  margin: 0 0 0 20px;
}

.colom_4col > .col {
  display: inline-block;
  width: -webkit-calc(calc(100% - 70px)/ 4);
  width: calc(calc(100% - 70px)/ 4);
  letter-spacing: normal;
  vertical-align: top;
  margin: 30px 10px 0;
  box-sizing: content-box;
}

*::-ms-backdrop, .colom_4col .col {
  width: 23.2%;
  /* IE11 */
}

.colom_4col > .col:nth-of-type(4n+1) {
  margin-left: 0;
}

.colom_4col > .col:nth-of-type(n+5) {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .colom_4col > .col {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .colom_4col > .col:nth-of-type(n+5) {
    margin-top: 0;
  }
  .colom_4col.type2 .col {
    width: calc(calc(100% - 22px)/ 2);
    margin-top: 20px;
  }
  .colom_4col.type2 .col:nth-child(2n) {
    margin: 20px 0 0 0;
  }
  .colom_4col.type2 .col:nth-child(3n), .colom_4col.type2 .col:nth-child(2n+1) {
    margin: 20px 20px 0 0px;
  }
  .colom_4col.type2 .col:nth-child(6n) {
    margin: 20px 0 0 0;
  }
  .colom_4col.type2 .col .colElm:last-child {
    margin-top: 10px;
  }
  *::-ms-backdrop, .colom_4col.type2 .col {
    width: 47%;
    /* IE11 */
  }
}

/*
table
==============================*/
.tableTypeA_01, .tableTypeA_02, .tableTypeB_01,
.tableTypeC_01, .tableTypeC_02 {
  width: 100%;
}

.tableTypeA_01 td, .tableTypeA_01 th,
.tableTypeA_02 td, .tableTypeA_02 th,
.tableTypeB_01 td, .tableTypeB_01 th,
.tableTypeC_01 td, .tableTypeC_01 th,
.tableTypeC_02 td, .tableTypeC_02 th {
  padding: 14px;
  border: 1px solid #cccccc;
  vertical-align: middle;
}

.tableTypeA_01 th, .tableTypeA_02 th,
.tableTypeB_01 th, .tableTypeC_01 th, .tableTypeC_01 thead td,
.tableTypeB_02 th, .tableTypeC_02 th, .tableTypeC_02 thead td {
  background: #7d7d7d;
  font-weight: bold;
  color: #fff;
}

.tableTypeA_01 th, .tableTypeA_02 th {
  width: 30%;
}

.tableTypeA_01 .blank, .tableTypeA_02 .blank,
.tableTypeB_01 .blank, .tableTypeC_01 .blank {
  background: #fbfbfb;
}

.tableTypeC_01 tbody th,
.tableTypeC_02 tbody th {
  background: #fbfbfb;
  font-weight: normal;
  color: #333;
}

@media screen and (max-width: 768px) {
  .tableTypeA_02 th, .tableTypeA_02 td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: -1px;
    padding: 15px;
  }
  .tableTypeC_02 tbody th {
    width: 1em;
  }
}

/*------------------------------
filter
------------------------------*/
#filter .filterSmapleBox {
  width: 1000px;
  margin: 40px auto;
  text-align: center;
}

#filter .filterSmapleBox img {
  display: inline-block;
  width: 60%;
  height: auto;
  margin-top: 20px;
}

.filterSaturate {
  -webkit-filter: saturate(500%);
  filter: saturate(500%);
}

.filterBrightness {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.filterHueRotate {
  -webkit-filter: hue-rotate(50deg);
  filter: hue-rotate(50deg);
}

.filterContrast {
  -webkit-filter: contrast(50%);
  filter: contrast(50%);
}

.filterGrayscale {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

.filterSepia {
  -webkit-filter: sepia(80%);
  filter: sepia(80%);
}

.filterInvert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.filterBlur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.filterDropShadow {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

#filter .SmapleDropShadow {
  margin-top: 10px;
}

#filter .SmapleDropShadow li {
  width: 30%;
  height: auto;
  display: inline-block;
  border: 1px solid #9e9e9e;
  padding: 10px;
}

#filter .SmapleDropShadow li:first-child img {
  width: 48px;
  box-shadow: 2px 2px 2px #ffc824;
}

#filter .SmapleDropShadow li:last-child img {
  width: 48px;
  -webkit-filter: drop-shadow(2px 2px 2px #ffc824);
  filter: drop-shadow(2px 2px 2px #ffc824);
}

.filterMix {
  -webkit-filter: brightness(1.2) contrast(60%) saturate(150%);
  filter: brightness(1.2) contrast(60%) saturate(150%);
}

/*------------------------------
flex
------------------------------*/
#flex .wrapper .content {
  margin-top: 50px;
}

#flex .wrapper .content h2 {
  font-size: 16px;
  font-weight: bold;
}

#flex .wrapper div {
  margin-top: 30px;
}

#flex .wrapper a {
  color: #ff6613;
}

#flex .wrapper a:hover {
  text-decoration: underline;
}

#flex .wrapper div ul {
  border: 1px solid #eeeeee;
  display: flex;
  margin-top: 10px;
  padding: 10px;
}

.flexArea {
  border: 1px solid #eeeeee;
  display: flex;
  margin-top: 10px;
}

.flexArea li {
  position: relative;
  width: 200px;
  height: 150px;
  background: #545454;
  color: #fff;
  border: 1px solid #dedede;
}

#ex02 .flexArea {
  flex-direction: row-reverse;
}

#ex03 .flexArea {
  flex-direction: column;
}

#ex04 .flexArea {
  flex-direction: column-reverse;
}

#ex05 .flexArea {
  flex-wrap: nowrap;
}

#ex06 .flexArea {
  flex-wrap: wrap;
}

#ex07 .flexArea {
  flex-wrap: wrap-reverse;
}

#ex08 .flexArea {
  justify-content: flex-start;
}

#ex09 .flexArea {
  justify-content: flex-end;
}

#ex10 .flexArea {
  justify-content: center;
}

#ex11 .flexArea {
  justify-content: space-around;
}

#ex12 .flexArea {
  align-items: stretch;
  height: 200px;
}

#ex12 .flexArea li {
  height: auto;
}

#ex13 .flexArea {
  align-items: flex-start;
  height: 200px;
}

#ex14 .flexArea {
  align-items: flex-end;
  height: 200px;
}

#ex15 .flexArea {
  align-items: center;
  height: 200px;
}

#ex16 .flexArea {
  align-content: stretch;
  flex-wrap: wrap;
  height: 500px;
}

#ex17 .flexArea {
  align-content: flex-start;
  flex-wrap: wrap;
  height: 500px;
}

#ex18 .flexArea {
  align-content: flex-end;
  flex-wrap: wrap;
  height: 500px;
}

#ex19 .flexArea {
  align-content: center;
  flex-wrap: wrap;
  height: 500px;
}

#ex20 .flexArea {
  align-content: space-between;
  flex-wrap: wrap;
  height: 500px;
}

#ex21 .flexArea {
  align-content: space-around;
  flex-wrap: wrap;
  height: 500px;
}

#ex22 .flexArea .flexItem01 {
  order: 3;
}

#ex22 .flexArea .flexItem02 {
  order: 6;
}

#ex22 .flexArea .flexItem03 {
  order: 1;
}

#ex22 .flexArea .flexItem04 {
  order: 4;
}

#ex22 .flexArea .flexItem05 {
  order: 2;
}

#ex22 .flexArea .flexItem06 {
  order: 5;
}

#ex23 .flexArea li {
  flex-basis: 25%;
}

#ex24 .flexArea li {
  border: 1px solid #dedede;
  flex-basis: 300px;
}

#ex24 .flexArea li:nth-child(1) {
  flex-shrink: 2;
}

#ex24 .flexArea li:nth-child(2) {
  flex-shrink: 3;
}

#ex25 .flexArea li {
  border: 1px solid #dedede;
  flex-basis: 100px;
}

#ex25 .flexArea li:nth-child(1) {
  flex-grow: 2;
}

#ex25 .flexArea li:nth-child(2) {
  flex-grow: 3;
}

#ex26 .flexArea {
  height: 300px;
  align-items: center;
  justify-content: center;
}

#ex27 .flexArea {
  position: relative;
  height: 300px;
  align-items: center;
  justify-content: center;
}

#ex27 .flexArea li {
  position: absolute;
}

#ex28 .flexArea {
  justify-content: space-between;
}

#ex29 .flexArea {
  display: inline-flex;
}

#ex30 .flexArea li:first-child {
  height: 100px;
  align-self: auto;
}

#ex30 .flexArea li:nth-child(2) {
  align-self: stretch;
}

#ex30 .flexArea li:nth-child(3) {
  height: 100px;
  align-self: flex-start;
}

#ex30 .flexArea li:nth-child(4) {
  height: 100px;
  align-self: flex-end;
}

#ex30 .flexArea li:nth-child(5) {
  height: 100px;
  align-self: center;
}

#ex30 .flexArea li:nth-child(6) {
  height: 100px;
  align-self: baseline;
}

/*--- sp ---*/
@media screen and (max-width: 768px) {
  .flexArea li {
    border: 1px solid #dedede;
  }
  .flexArea li img {
    border: none;
    width: 100%;
    height: auto;
  }
  .flexArea li span {
    bottom: 10px;
  }
  #ex08 .flexArea li, #ex09 .flexArea li, #ex10 .flexArea li,
  #ex11 .flexArea li, #ex28 .flexArea li {
    width: 20%;
  }
  #ex12 .flexArea, #ex13 .flexArea, #ex14 .flexArea,
  #ex15 .flexArea, #ex16 .flexArea, #ex17 .flexArea,
  #ex18 .flexArea, #ex19 .flexArea, #ex20 .flexArea,
  #ex21 .flexArea {
    height: 300px;
  }
  #ex12 .flexArea li, #ex13 .flexArea li, #ex14 .flexArea li,
  #ex15 .flexArea li, #ex16 .flexArea li, #ex17 .flexArea li,
  #ex18 .flexArea li, #ex19 .flexArea li, #ex20 .flexArea li,
  #ex21 .flexArea li {
    width: 20%;
    height: 100px;
  }
  #ex22 .flexArea li {
    height: auto;
  }
}

.memoBox {
  border: 1px solid #a0a0a0;
  margin: 40px auto;
  padding: 20px;
}

/*------------------------------
form
------------------------------*/
.formArea .noteLis {
  margin-bottom: 34px;
}

.formArea .noteList li {
  font-size: 14px;
  padding-left: 1em;
  text-indent: -1em;
}

.formArea .inputBox {
  margin-bottom: 16px;
}

.errorTxt {
  border: none;
  color: #cc0000;
  margin-top: 0px;
}

.errorTxt li::before {
  content: "\0030fb";
  display: inline;
}

.wrapper div ul.noteList {
  border: none;
  display: block;
}

.wrapper .formArea .inputBox div {
  margin: 0;
}

/*--- fileUp ---*/
.fileUpList li .fileUp {
  margin: 24px 0;
}

.fileUpList li .fileUp label {
  display: inline-block;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #cc0000;
  padding: 10px;
  transition: all 0.1s 0s ease;
  cursor: pointer;
}

.fileUpList li .fileUp label:hover {
  opacity: 0.7;
}

.fileUpList li .fileUp input {
  display: block;
  position: absolute;
  height: 0;
  left: -9999px;
}

/*--- inputBox ---*/
.inputBox.box2Col {
  display: table;
  width: 100%;
  margin-top: 60px;
}

.inputBox.box2Col dt, .inputBox.box2Col dd {
  display: table-cell;
  position: relative;
}

.inputBox.box2Col dt {
  width: 20%;
}

.inputBox.box2Col .errorBalloon {
  position: absolute;
  display: inline-block;
  top: -44px;
  margin: 0 auto;
  padding: 5px 10px;
  background: #eee;
  border-radius: 5px;
}

.inputBox.box2Col .errorBalloon::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  right: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #eee transparent transparent transparent;
}

/*--- width-adjustment ---*/
input.postCodeS {
  width: 46px;
}

input.postCodeM {
  width: 60px;
}

input.inputS {
  width: 129px;
}

input.inputL {
  width: 605px;
}

input.inputM {
  width: 330px;
}

.selectBox select {
  width: 188px;
}

/*--- selectBox-style ---*/
.selectBox {
  position: relative;
  display: inline-block;
  margin-top: 0;
}

.selectBox::after {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  background: #343434;
  color: #ffffff;
  content: '▼';
  display: inline-block;
  pointer-events: none;
  text-align: center;
  width: 30px;
}

.formArea .inputBox input, .formArea .inputBox select {
  border: 1px solid #dddddd;
  padding: 0 5px;
}

/*--- circleCheck-style ---*/
.inputBox .circleCheck {
  margin-top: 0;
}

.formArea .inputBox .circleCheck label {
  margin-right: 20px;
  cursor: pointer;
}

.formArea .inputBox .circleCheck label input[type="radio"], .formArea .inputBox .circleCheck label input[type="checkbox"] {
  padding: 0;
  border: none;
  display: none;
}

.circleCheck label span {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}

.circleCheck label span::before {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #343434;
  border-radius: 50%;
  left: 0px;
  top: 3px;
  content: '';
  z-index: 3;
  pointer-events: none;
  cursor: pointer;
}

.circleCheck label input[type="radio"]:checked + span::before, .circleCheck label input[type="checkbox"]:checked + span::before {
  border: 6px solid #343434;
}

/*--- squareCheck-style ---*/
.inputBox .squareCheck {
  margin-top: 0;
}

.formArea .inputBox .squareCheck label {
  padding-right: 20px;
  cursor: pointer;
}

.formArea .inputBox .squareCheck label input[type="radio"], .formArea .inputBox .squareCheck label input[type="checkbox"] {
  padding: 0;
  border: none;
  display: none;
}

.squareCheck label span {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}

.squareCheck label span::before {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #343434;
  left: 0px;
  top: 2px;
  content: '';
  pointer-events: none;
  cursor: pointer;
}

.squareCheck label input[type="radio"] + span::after, .squareCheck label input[type="checkbox"] + span::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 22px;
  position: absolute;
  top: -5px;
  left: 11px;
  z-index: 2;
  border: 2px solid #cc0000;
  border-width: 0 5px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  pointer-events: none;
}

.squareCheck label input[type="radio"]:checked + span::after, .squareCheck label input[type="checkbox"]:checked + span::after {
  opacity: 1;
  pointer-events: none;
}

/*--- textarea-style ---*/
textarea {
  width: 606px;
  height: 90px;
  padding: 0 5px;
  border: 1px solid #dddddd;
}

/*--- checkBox-style ---*/
.agreementBox label {
  position: relative;
  display: block;
}

.agreementBox label input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.agreementBox label span {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-left: 30px;
}

.agreementBox label input[type='checkbox'] + span::before {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #343434;
  border-radius: 5px;
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  pointer-events: none;
  width: 24px;
  z-index: 1;
}

.agreementBox label input[type='checkbox'] + span::after {
  position: absolute;
  top: -5px;
  left: 11px;
  border: 2px solid #cc0000;
  border-width: 0 5px 3px 0;
  content: '';
  display: inline-block;
  height: 22px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 12px;
  z-index: 2;
}

.agreementBox label input[type='checkbox']:checked + span::after {
  opacity: 1;
  pointer-events: none;
}

.sendingBtn {
  margin-top: 24px;
  text-align: center;
}

.sendingBtn input {
  background: #cc0000;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
  padding: 5px 12px;
  width: 160px;
  border-radius: 5px;
}

.sendingBtn input:hover {
  opacity: 0.7;
}

/*--- test ---*/
.inputBox.test input + .val .valid,
.inputBox.test input + .val .invalid {
  display: none;
}

.inputBox.test input:focus:invalid + .val .invalid {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #cc0000;
  border-radius: 5px;
  color: #fff;
}

.inputBox.test input:focus:invalid + .val .invalid::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -10px;
  left: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #cc0000 transparent;
}

/*--- sp ---*/
@media screen and (max-width: 768px) {
  .content .memo {
    display: block;
  }
  input.inputL {
    width: 100%;
  }
  input.inputM {
    width: 56%;
  }
  textarea {
    width: 100%;
  }
  .sendingBtn input {
    font-size: 16px;
  }
  .inputBox.box2Col {
    margin-top: 84px;
  }
  .inputBox.box2Col dt {
    width: 40%;
  }
  .inputBox.box2Col .errorBalloon {
    top: -64px;
  }
}

/*------------------------------
Grid
------------------------------*/
#grid .sample div {
  margin: 0;
}

#grid .girdCont {
  display: grid;
  grid-template-rows: 50px 200px 50px 80px;
  grid-template-columns: 150px 500px 1fr;
}

#grid .girdCont div {
  margin-top: 0;
}

#grid .girdCont .item1 {
  grid-column: 1/4;
}

#grid .girdCont .item2, #grid .girdCont .item3, #grid .girdCont .item4 {
  grid-row: 2/4;
}

#grid .girdCont .item5 {
  grid-column: 1/4;
}

#grid .girdSample1 {
  display: grid;
  grid-template-columns: 150px 500px 1fr;
  border: 1px dotted;
}

#grid .girdSample1 div {
  margin: 0;
}

#grid .girdSample2 {
  display: grid;
  grid-auto-rows: 70px;
  grid-template-columns: 150px 300px 1fr;
  border: 1px dotted;
}

#grid .girdSample3 {
  display: grid;
  grid-template-columns: 200px 400px 1fr;
  grid-auto-rows: 100px;
  border: 1px dotted;
}

#grid .girdSample3 .item2 {
  grid-row: span 2;
  grid-column: span 2;
}

#grid .girdSample3 .item4, #grid .girdSample3 .item5 {
  grid-column: span 2;
}

#grid .girdSample4 {
  display: grid;
  grid-template-columns: 200px 400px 1fr;
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  border: 1px dotted;
}

#grid .girdSample4 .item2 {
  grid-row: span 2;
  grid-column: span 2;
}

#grid .girdSample4 .item4, #grid .girdSample4 .item5 {
  grid-column: span 2;
}

#grid .girdSample5 {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 250px 300px 1fr;
  grid-auto-flow: column;
  border: 1px dotted;
}

#grid .girdSample6 {
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(9, 100px 150px);
}

#grid .girdSample7 {
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fit, 150px);
}

#grid .addBtn {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

#grid .addBtn:hover {
  background: #eee;
}

#grid .girdSample8 {
  display: grid;
  grid: auto-flow 100px / 300px 400px 300px;
}

#grid .girdSample9 {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 100px 100px;
  grid-template-columns: repeat(auto-fit, 100px);
}

/*- background-color -*/
.item1 {
  background: #eee;
}

.item2 {
  background: #ffeaea;
}

.item3 {
  background: #d8e8d9;
}

.item4 {
  background: #d8defd;
}

.item5 {
  background: #fffce0;
}

.item6 {
  background: #d6c9ef;
}

.item7 {
  background: #e0fcff;
}

.item8 {
  background: #e7f9d1;
}

/*------------------------------
fullPage
------------------------------*/
h1.fullPage {
  background: #000;
  opacity: 0.7;
  color: #fff;
  font-size: 34px;
}

#fullPage {
  width: 100%;
}

#fullPage div {
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center;
    justify-content: center; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#fullPage div p {
  display: inline-block;
  flex-basis: 100px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  background: #000;
  opacity: 0.7;
  padding: 50px;
  color: #fff;
}

#fullPage div.sec1 p {
  z-index: 10;
}

#fullPage div.sec2 p {
  z-index: 20;
}

#fullPage div.sec3 p {
  z-index: 30;
}

#fullPage div.sec4 p {
  z-index: 40;
}

#fullPage div.animate {
  opacity: 1;
}

#fullPage div.animate::after {
  position: relative;
  top: 0;
  left: 0;
  background: #000000;
  content: '';
  display: block;
  height: 100vh;
  opacity: 0.3;
  width: 100vw;
  z-index: 1;
}

#fullPage .sec1 {
  background: url(../imgvege01.png) top center;
  background-size: cover;
}

#fullPage .sec2 {
  background: url(../imgvege02.png) top center;
  background-size: cover;
}

#fullPage .sec3 {
  background: url(../imgvege03.png) top center;
  background-size: cover;
}

#fullPage .sec4 {
  background: url(../imgvege04.png) top center;
  background-size: cover;
}

/*--- sp ---*/
@media screen and (max-width: 768px) {
  #fullPage div {
    background: #eeeeee;
    height: 100vh;
  }
  #fullPage div::after {
    height: 100vh;
  }
  #fullPage div p {
    flex-basis: 1em;
    padding: 10px;
    top: -5%;
    left: 0;
  }
}

#parallax .imgArea {
  position: relative;
  height: 500px;
  opacity: 0.8;
}

#parallax .imgArea.area01 {
  background: url(../imgfruit04.jpg) bottom center;
  background-attachment: fixed;
  background-size: cover;
}

#parallax .imgArea.area02 {
  background: url(../imgfruit02.jpg) bottom center;
  background-attachment: fixed;
  background-size: cover;
}

#parallax .imgArea.area03 {
  background: url(../imgfruit03.jpg) bottom center;
  background-attachment: fixed;
  background-size: cover;
}

#parallax .imgArea.area04 {
  background: url(../imgfruit04.jpg) bottom center;
  background-attachment: fixed;
  background-size: cover;
}

#parallax .imgArea h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 4em;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
}

#parallax .txtArea {
  background: #eeeeee;
}

#parallax .txtArea p, #parallax .txtArea .memo {
  margin: 0 auto;
  padding: 50px 0;
  width: 1000px;
}

#parallax .txtArea a {
  text-decoration: underline;
}

#parallax .videoArea {
  position: relative;
}

#parallax .videoArea video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#parallax .videoArea::before {
  content: "";
  display: block;
  padding-top: 56%;
}

#parallax .videoArea .txt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background: #000;
  opacity: 0.5;
  text-align: center;
  font-size: 1.6vw;
  color: #fff;
}

#parallax .videoArea .txt a {
  color: #fff;
}

#parallax .videoArea .txt a:hover {
  text-decoration: underline;
}

/*--- sp ---*/
@media screen and (max-width: 768px) {
  #parallax .txtArea p, #parallax .txtArea .memo {
    width: 100%;
    padding: 10px;
  }
}

/*------------------------------
slick
------------------------------*/
#slick img {
  width: 100%;
  height: auto;
}

#slick div {
  margin-top: 0;
}

#slick .sample1, #slick .sample2 {
  margin-top: 50px;
}

#slick .sample1 .slick-prev, #slick .sample2 .slick-prev {
  left: 10px;
  z-index: 10;
}

#slick .sample1 .slick-next {
  right: 10px;
}

#slick .sample2 .slick-next {
  right: 10px;
}

#slick .sample2 .slick-prev:before, #slick .sample2 .slick-next:before {
  color: #6d6d6d;
}

#slick .sample3 .slick-initialized .slick-slide {
  text-align: center;
}

#slick .sample3 img {
  width: 95%;
  display: inline-block;
}

#slick .sample4 .slider-container {
  position: relative;
  display: none;
}

#slick .sample4 .initialized {
  display: block;
}

#slick .sample4 .slider-nav-container {
  text-align: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

#slick .sample4 .slider-nav-container img {
  width: 96%;
  display: inline-block;
}

#slick .sample4 .slider-nav-container .slick-prev:before, #slick .sample4 .slider-nav-container .slick-next:before {
  color: #616161;
}

.sample5 .slider-container {
  overflow: hidden;
}

.sample5 .slick-slide img {
  width: 100%;
  height: auto;
}

.sample6 .slider-container {
  overflow: hidden;
  position: relative;
}

.sample6 .slick-slide img {
  width: 100%;
  height: auto;
}

.sample6 .slick-dots li.slick-active button:before {
  color: #0027ff;
}

.sample6 .slick-dots li:hover button:before {
  color: #cc0000;
}

.sample7 .slider-container {
  overflow: hidden;
  position: relative;
}

.sample7 .slick-slide .slidInr {
  display: block;
  position: relative;
}

.sample7 .slick-slide .slidInr img {
  width: 100%;
  height: auto;
}

.sample7 .slick-slide .slidInr .slidTxt {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 200px;
  height: 200px;
  padding: 30px;
  background: #909090;
  opacity: 0.7;
  border-radius: 50%;
  color: #fff;
}

/*------------------------------
svg
------------------------------*/
.content .testList li {
  margin-top: 30px;
}

.content .testList .testBox {
  background-image: url(../img/star.svg);
  height: 344px;
  margin: 0 auto;
  width: 950px;
}

.star {
  position: relative;
  height: 200px;
}

.star svg {
  position: absolute;
  left: -100%;
  overflow: hidden;
}

.star.animate svg {
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-name: testAnimation01;
}

@keyframes testAnimation01 {
  0% {
    transform-origin: center;
  }
  100% {
    left: 0;
    opacity: 1;
    transform-origin: center;
  }
}

/*--- sp ---*/
@media screen and (max-width: 768px) {
  .content pre {
    overflow: scroll;
  }
  .content .testList .testBox {
    background-size: 10%;
    height: 300px;
    width: 100%;
  }
}

/*------------------------------
webFont
------------------------------*/
@font-face {
  font-family: 'NotoSerifCJKjp-Black';
  src: url("../font/NotoSerifCJKjp-Black.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSerifCJKjp-Bold';
  src: url("../font/NotoSerifCJKjp-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSerifCJKjp-ExtraLight';
  src: url("../font/NotoSerifCJKjp-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSerifCJKjp-Light';
  src: url("../font/NotoSerifCJKjp-Light.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSerifCJKjp-Medium';
  src: url("../font/NotoSerifCJKjp-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSerifCJKjp-Regular';
  src: url("../font/NotoSerifCJKjp-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSerifCJKjp-SemiBold';
  src: url("../font/NotoSerifCJKjp-SemiBold.otf") format("opentype");
}

.fontSample01 {
  font-size: 24px;
}

.fontSample01 h3 {
  margin-top: 30px;
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
}

.fontSample02 {
  margin-top: 30px;
  font-family: 'NagomiGokubosoGothic';
  font-size: 20px;
  color: #000;
}

.fontSample02 h3 {
  line-height: 1.5;
  font-size: 40px;
}

.fontSample03 {
  margin-top: 30px;
  font-family: 'Noto Sans Japanese';
  font-size: 16px;
}

.fontSample04 {
  margin-top: 40px;
  font-family: 'Noto Sans Japanese';
  font-size: 16px;
}

.fontSample04 .fw100 {
  font-weight: 100;
}

.fontSample04 .fw200 {
  font-weight: 200;
}

.fontSample04 .fw300 {
  font-weight: 300;
}

.fontSample04 .fw400 {
  font-weight: 400;
}

.fontSample04 .fw500 {
  font-weight: 500;
}

.fontSample04 .fw700 {
  font-weight: 700;
}

.fontSample04 .fw900 {
  font-weight: 900;
}

.webFontIcon span {
  padding-right: 5px;
}

/*--- sp ---*/
@media screen and (max-width: 768px) {
  .fontSample03 blockquote {
    width: 100%;
  }
}
