doctype html
html(lang="ja")
head
  meta(charset="utf-8")
  style(src="css/base.css")
  title Jadeテスト
body
  h1.sitettl Jadeテストサイトタイトル
  section.content
    div.contentInr
      nav
        ul  
          li
            a
        div.mainCont
        h2.subPage_ttlLv1
          