.wrapper {
  min-width: 1000px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    min-width: 0;
  }
}

._dummy {
  padding: 40px;
  background-color: #eeeeee;
  text-align: center;
  color: #999;
  border: 1px solid #ddd;
}

/*======================================
component
======================================*/
/*---------------------------------------
List
---------------------------------------*/
ul > li li,
ol > li li {
  padding: 0;
}

/*-- txtList --*/
.txtList > li {
  position: relative;
  margin-left: 1.2em;
}

.txtList > li:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: inherit;
  margin-right: 5px;
  border-radius: 50%;
  background: #94c509;
  position: absolute;
  top: 7px;
  left: -1.2em;
}

.txtList > li + li,
.dotList > li + li {
  margin-top: 0.5em;
}

.dotList > li {
  position: relative;
  margin-left: 1em;
}

.dotList > li:before {
  content: "\0030fb";
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: -1em;
}

/*-- numList --*/
.numList {
  position: relative;
  list-style: decimal outside none;
  padding-left: 2em;
}

.numList > li {
  text-indent: 0;
}

.numList > li + li {
  margin-top: 0.5em;
}

.numList_brackets > li {
  position: relative;
  margin-left: 2.0em;
}

.numList_brackets > li > .listMark {
  display: inline-block;
  width: 2.0em;
  left: -2.0em;
  position: absolute;
  top: 0;
}

.numList_brackets > li + li {
  margin-top: 0.5em;
}

.numList_brackets.numDouble > li {
  margin-left: 2.5em;
}

.numList_brackets.numDouble > li > .listMark {
  width: 2.5em;
  left: -2.5em;
}

.numList_brackets.numDouble > li + li {
  margin-top: 0.5em;
}

/*-- noteList --*/
.noteList > li {
  position: relative;
  margin-left: 1.1em;
}

.noteList > li > .listMark {
  width: 1.1em;
  position: absolute;
  top: 0;
  left: -1.1em;
}

.noteList > li + li {
  margin-top: 0.5em;
}

.noteList .numList_brackets > li,
.noteList .noteList_star > li {
  text-indent: 0;
}

.noteList_star > li {
  position: relative;
  margin-left: 0.6em;
}

.noteList_star > li > .listMark {
  display: inline-block;
  width: 0.6em;
  position: absolute;
  top: 0;
  left: -0.6em;
}

.noteList_star > li + li {
  margin-top: 0.5em;
}

.noteList_star.numSingle > li {
  position: relative;
  margin-left: 1.5em;
}

.noteList_star.numSingle > li > .listMark {
  width: 1.5em;
  position: absolute;
  top: 0;
  left: -1.5em;
}

.noteList_star.numDouble > li {
  position: relative;
  margin-left: 2em;
}

.noteList_star.numDouble > li > .listMark {
  width: 2em;
  position: absolute;
  top: 0;
  left: -2em;
}

/*---------------------------------------
column
---------------------------------------*/
/*--.column_2col flex (variable)--*/
.column_2col.flex {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.column_2col.flex.reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.column_2col.flex .col:last-child {
  padding-left: 20px;
}

.column_2col.flex.reverse .col:last-child {
  padding-left: 0;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .column_2col.flex {
    display: block;
  }
  .column_2col.flex .col {
    display: block;
    margin: 0 auto;
    padding-left: 0;
  }
  .column_2col.flex.reverse .col:last-child {
    padding: 0;
  }
  .column_2col.flex .col:last-child {
    padding-left: 0;
  }
  .column_2col.flex .col img {
    width: 100%;
  }
}

/*----- .box_2col -----*/
.column_2col {
  width: 100%;
  margin-top: 20px;
  letter-spacing: -0.4em;
}

.column_2col .col {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  letter-spacing: normal;
}

@media screen and (max-width: 768px) {
  .column_2col .col {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .column_2col .col:last-child {
    margin-bottom: 0;
  }
}

/*----- .column_2col.hasSpace -----*/
.column_2col.hasSpace {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
}

.column_2col.hasSpace .col {
  width: 49%;
}

@media screen and (max-width: 768px) {
  .column_2col.hasSpace {
    display: block;
  }
  .column_2col.hasSpace .col {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .column_2col:last-child {
    margin-bottom: 0;
  }
  .column_2col.hasSpace.type2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 100%;
  }
  .column_2col.hasSpace.type2 .col {
    width: calc(calc(100% - 20px)/2);
  }
}

/*----- column_3col -----*/
.column_3col {
  letter-spacing: -0.4em;
}

.column_3col > .col {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin-left: 20px;
}

.column_3col > .col:nth-of-type(3n+1) {
  margin-left: 0;
}

.column_3col > .col:nth-of-type(n+4) {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .column_3col > .col {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .column_3col.type2 > .col {
    width: 49.7%;
    margin: 0 0 20px 0;
    padding: 0 10px;
  }
  .column_3col.type2 > .col:nth-child(2n+1) {
    padding-left: 0;
  }
  .column_3col.type2 > .col:nth-child(2n) {
    padding-right: 0;
  }
}

/*-- column_4col --*/
.column_4col {
  letter-spacing: -0.4em;
}

.column_4col > .col {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 23.5%;
  margin: 0 0 0 20px;
}

.column_4col > .col:nth-of-type(4n+1) {
  margin-left: 0;
}

.column_4col > .col:nth-of-type(n+5) {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .column_4col > .col {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .column_4col > .col:nth-of-type(n+5) {
    margin-top: 0;
  }
  .column_4col.type2 > .col {
    width: 49.7%;
    margin: 0 0 20px 0;
    padding: 0 10px;
  }
  .column_4col.type2 > .col:nth-child(2n+1) {
    padding-left: 0;
  }
  .column_4col.type2 > .col:nth-child(2n) {
    padding-right: 0;
  }
}

/*
table
==============================*/
.tableTypeA_01, .tableTypeA_02, .tableTypeB_01,
.tableTypeC_01, .tableTypeC_02 {
  width: 100%;
}

.tableTypeA_01 td, .tableTypeA_01 th,
.tableTypeA_02 td, .tableTypeA_02 th,
.tableTypeB_01 td, .tableTypeB_01 th,
.tableTypeC_01 td, .tableTypeC_01 th,
.tableTypeC_02 td, .tableTypeC_02 th {
  padding: 14px;
  border: 1px solid #cccccc;
  vertical-align: middle;
}

.tableTypeA_01 th, .tableTypeA_02 th,
.tableTypeB_01 th, .tableTypeC_01 th, .tableTypeC_01 thead td,
.tableTypeB_02 th, .tableTypeC_02 th, .tableTypeC_02 thead td {
  background: #7d7d7d;
  font-weight: bold;
  color: #fff;
}

.tableTypeA_01 th, .tableTypeA_02 th {
  width: 30%;
}

.tableTypeA_01 .blank, .tableTypeA_02 .blank,
.tableTypeB_01 .blank, .tableTypeC_01 .blank {
  background: #fbfbfb;
}

.tableTypeC_01 tbody th,
.tableTypeC_02 tbody th {
  background: #fbfbfb;
  font-weight: normal;
  color: #333;
}

@media screen and (max-width: 768px) {
  .tableTypeA_02 th, .tableTypeA_02 td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: -1px;
    padding: 15px;
  }
  .tableTypeC_02 tbody th {
    width: 1em;
  }
}
