/*------------------------------
filter
------------------------------*/
#filter .filterSmapleBox {
  width: 1000px;
  margin: 40px auto;
  text-align: center;
}

#filter .filterSmapleBox img {
  display: inline-block;
  width: 60%;
  height: auto;
  margin-top: 20px;
}

.filterSaturate {
  -webkit-filter: saturate(500%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="4.148 -2.86 -0.288 0 0 -0.852 2.19 -0.288 0 0 -0.852 -2.86 4.712000000000001 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: saturate(500%);
}

.filterBrightness {
  -webkit-filter: brightness(0.5);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.5" /><feFuncG type="linear" slope="0.5" /><feFuncB type="linear" slope="0.5" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.5);
}

.filterHueRotate {
  -webkit-filter: hue-rotate(50deg);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="hueRotate" color-interpolation-filters="sRGB" values="50" /></filter></svg>#filter');
  filter: hue-rotate(50deg);
}

.filterContrast {
  -webkit-filter: contrast(50%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.5" intercept="0.25" /><feFuncG type="linear" slope="0.5" intercept="0.25" /><feFuncB type="linear" slope="0.5" intercept="0.25" /></feComponentTransfer></filter></svg>#filter');
  filter: contrast(50%);
}

.filterGrayscale {
  -webkit-filter: grayscale(80%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.37007999999999996 0.57216 0.057760000000000006 0 0 0.17008 0.77216 0.057760000000000006 0 0 0.17008 0.57216 0.25775999999999993 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: grayscale(80%);
}

.filterSepia {
  -webkit-filter: sepia(80%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.5144 0.6152000000000001 0.1512 0 0 0.2792 0.7488 0.13440000000000002 0 0 0.21760000000000002 0.4272 0.30479999999999996 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: sepia(80%);
}

.filterInvert {
  -webkit-filter: invert(100%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
  filter: invert(100%);
}

.filterBlur {
  -webkit-filter: blur(5px);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5" /></filter></svg>#filter');
  filter: blur(5px);
}

.filterDropShadow {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="2" /><feOffset dx="3" dy="3" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.5)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

#filter .SmapleDropShadow {
  margin-top: 10px;
}

#filter .SmapleDropShadow li {
  width: 30%;
  height: auto;
  display: inline-block;
  border: 1px solid #9e9e9e;
  padding: 10px;
}

#filter .SmapleDropShadow li:first-child img {
  width: 48px;
  box-shadow: 2px 2px 2px #ffc824;
}

#filter .SmapleDropShadow li:last-child img {
  width: 48px;
  -webkit-filter: drop-shadow(2px 2px 2px #ffc824);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="2" /><feOffset dx="3" dy="3" result="offsetblur" /><feFlood flood-color="rgba(255,200,36,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  filter: drop-shadow(2px 2px 2px #ffc824);
}

.filterMix {
  -webkit-filter: brightness(1.2) contrast(60%) saturate(150%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.2" /><feFuncG type="linear" slope="1.2" /><feFuncB type="linear" slope="1.2" /></feComponentTransfer><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" intercept="0.2" /><feFuncG type="linear" slope="0.6" intercept="0.2" /><feFuncB type="linear" slope="0.6" intercept="0.2" /></feComponentTransfer><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1.3935000000000002 -0.35750000000000004 -0.03599999999999999 0 0 -0.10650000000000001 1.1575 -0.03599999999999999 0 0 -0.10650000000000001 -0.35750000000000004 1.4640000000000002 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: brightness(1.2) contrast(60%) saturate(150%);
}
