/*------------------------------
fullPage
------------------------------*/
h1.fullPage {
  background: #000;
  opacity: 0.7;
  color: #fff;
  font-size: 34px;
}

#fullPage {
  width: 100%;
}

#fullPage div {
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center;
    justify-content: center; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#fullPage div p {
  display: inline-block;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  background: #000;
  opacity: 0.7;
  padding: 50px;
  color: #fff;
}

#fullPage div.sec1 p {
  z-index: 10;
}

#fullPage div.sec2 p {
  z-index: 20;
}

#fullPage div.sec3 p {
  z-index: 30;
}

#fullPage div.sec4 p {
  z-index: 40;
}

#fullPage div.animate {
  opacity: 1;
}

#fullPage div.animate:after {
  position: relative;
  top: 0;
  left: 0;
  background: #000000;
  content: '';
  display: block;
  height: 100vh;
  opacity: 0.3;
  width: 100vw;
  z-index: 1;
}

#fullPage .sec1 {
  background: url(../imgvege01.png) top center;
  background-size: cover;
}

#fullPage .sec2 {
  background: url(../imgvege02.png) top center;
  background-size: cover;
}

#fullPage .sec3 {
  background: url(../imgvege03.png) top center;
  background-size: cover;
}

#fullPage .sec4 {
  background: url(../imgvege04.png) top center;
  background-size: cover;
}

/*--- sp ---*/
@media screen and (max-width: 768px) {
  #fullPage div {
    background: #eeeeee;
    height: 100vh;
  }
  #fullPage div:after {
    height: 100vh;
  }
  #fullPage div p {
    -ms-flex-preferred-size: 1em;
        flex-basis: 1em;
    padding: 10px;
    top: -5%;
    left: 0;
  }
}

#parallax .imgArea {
  position: relative;
  height: 500px;
  opacity: 0.8;
}

#parallax .imgArea.area01 {
  background: url(../imgfruit04.jpg) bottom center;
  background-attachment: fixed;
  background-size: cover;
}

#parallax .imgArea.area02 {
  background: url(../imgfruit02.jpg) bottom center;
  background-attachment: fixed;
  background-size: cover;
}

#parallax .imgArea.area03 {
  background: url(../imgfruit03.jpg) bottom center;
  background-attachment: fixed;
  background-size: cover;
}

#parallax .imgArea.area04 {
  background: url(../imgfruit04.jpg) bottom center;
  background-attachment: fixed;
  background-size: cover;
}

#parallax .imgArea h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 4em;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#parallax .txtArea {
  background: #eeeeee;
}

#parallax .txtArea p, #parallax .txtArea .memo {
  margin: 0 auto;
  padding: 50px 0;
  width: 1000px;
}

#parallax .txtArea a {
  text-decoration: underline;
}

#parallax .videoArea {
  position: relative;
}

#parallax .videoArea video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#parallax .videoArea:before {
  content: "";
  display: block;
  padding-top: 56%;
}

#parallax .videoArea .txt {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  top: 0;
  background: #000;
  opacity: 0.5;
  text-align: center;
  font-size: 1.6vw;
  color: #fff;
}

#parallax .videoArea .txt a {
  color: #fff;
}

#parallax .videoArea .txt a:hover {
  text-decoration: underline;
}

/*--- sp ---*/
@media screen and (max-width: 768px) {
  #parallax .txtArea p, #parallax .txtArea .memo {
    width: 100%;
    padding: 10px;
  }
}
