/*------------------------------
slick
------------------------------*/
#slick img {
  width: 100%;
  height: auto;
}

#slick div {
  margin-top: 0;
}

#slick .sample1,
#slick .sample2 {
  margin-top: 50px;
}

#slick .sample1 .slick-prev,
#slick .sample2 .slick-prev {
  left: 10px;
  z-index: 10;
}

#slick .sample1 .slick-next {
  right: 10px;
}

#slick .sample2 .slick-next {
  right: 10px;
}

#slick .sample2 .slick-next:before,
#slick .sample2 .slick-prev:before {
  color: #6d6d6d;
}

#slick .sample3 .slick-initialized .slick-slide {
  text-align: center;
}

#slick .sample3 img {
  width: 95%;
  display: inline-block;
}

#slick .sample4 .slider-container {
  position: relative;
  display: none;
}

#slick .sample4 .initialized {
  display: block;
}

#slick .sample4 .slider-nav-container {
  text-align: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

#slick .sample4 .slider-nav-container img {
  width: 96%;
  display: inline-block;
}

#slick .sample4 .slider-nav-container .slick-next:before,
#slick .sample4 .slider-nav-container .slick-prev:before {
  color: #616161;
}

.sample5 .slider-container {
  overflow: hidden;
}

.sample5 .slick-slide img {
  width: 100%;
  height: auto;
}

.sample6 .slider-container {
  overflow: hidden;
  position: relative;
}

.sample6 .slick-slide img {
  width: 100%;
  height: auto;
}

.sample6 .slick-dots li.slick-active button:before {
  color: #0027ff;
}

.sample6 .slick-dots li:hover button:before {
  color: #cc0000;
}

.sample7 .slider-container {
  overflow: hidden;
  position: relative;
}

.sample7 .slick-slide .slidInr {
  display: block;
  position: relative;
}

.sample7 .slick-slide .slidInr img {
  width: 100%;
  height: auto;
}

.sample7 .slick-slide .slidInr .slidTxt {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 200px;
  height: 200px;
  padding: 30px;
  background: #909090;
  opacity: 0.7;
  border-radius: 50%;
  color: #fff;
}

.loopslider {
  position: relative;
  margin: 40px auto;
  width: 100%;
  overflow: hidden;
  min-height: 300px;
}

.loopslider .slide_inr {
  position: absolute;
  top: 0;
  font-size: 0;
  word-break: keep-all;
  width: 9999px;
  box-sizing: content-box;
}

.loopslider .slide_item {
  display: inline-block;
  width: 800px;
  position: relative;
  float: left;
}

.loopslider .slide_btn {
  width: 100%;
  position: relative;
  height: 0;
}

.loopslider .slide_btn li {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.loopslider .slide_btn li#next {
  left: auto;
  right: 0;
}

.loopslider .slide_dot_btn {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.loopslider .slide_dot_btn li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #000;
  opacity: 0.7;
  border-radius: 50%;
}

.loopslider .slide_dot_btn li.is_active {
  background: #fff;
}
