/*------------------------------
svg
------------------------------*/
.content .testList li {
  margin-top: 30px;
}

.content .testList .testBox {
  background-image: url(../img/star.svg);
  height: 344px;
  margin: 0 auto;
  width: 950px;
}

.star {
  position: relative;
  height: 200px;
}

.star svg {
  position: absolute;
  left: -100%;
  overflow: hidden;
}

.star.animate svg {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: testAnimation01;
          animation-name: testAnimation01;
}

@-webkit-keyframes testAnimation01 {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    left: 0;
    opacity: 1;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes testAnimation01 {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    left: 0;
    opacity: 1;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

/*--- sp ---*/
@media screen and (max-width: 768px) {
  .content pre {
    overflow: scroll;
  }
  .content .testList .testBox {
    background-size: 10%;
    height: 300px;
    width: 100%;
  }
}
